@font-face {
  font-family: 'BPGMrgvlovani2010';
  src: url('../fonts/BPGMrgvlovani2010.eot?#iefix') format('embedded-opentype'),  url('../fonts/BPGMrgvlovani2010.woff') format('woff'), url('../fonts/BPGMrgvlovani2010.ttf')
  format('truetype'), url('../fonts/BPGMrgvlovani2010.svg#BPGMrgvlovani2010') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Calibri';
  src: url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'),  url('../fonts/Calibri.woff') format('woff'), 
  url('../fonts/Calibri.ttf')  format('truetype'), url('../fonts/Calibri.svg#Calibri') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MarkGEO-Bold';
  src: url('../fonts/MarkGEO-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/MarkGEO-Bold.woff') format('woff'), url('../fonts/MarkGEO-Bold.ttf') 
   format('truetype'), url('../fonts/MarkGEO-Bold.svg#MarkGEO-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MarkGEO-Light';
  src: url('../fonts/MarkGEO-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/MarkGEO-Light.woff') format('woff'), url('../fonts/MarkGEO-Light.ttf') 
   format('truetype'), url('../fonts/MarkGEO-Light.svg#MarkGEO-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MarkGEOCAPS-Light';
  src: url('../fonts/MarkGEOCAPS-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/MarkGEOCAPS-Light.woff') format('woff'), url('../fonts/MarkGEOCAPS-Light.ttf') 
   format('truetype'), url('../fonts/MarkGEOCAPS-Light.svg#MarkGEOCAPS-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
